extends ../layout

block content
  .main-container
      svg.home-clip-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1254.24 852.64')
        g
          path.cls-1(d='M676.64,723.65c-36.07,38.26-79.8,82-99.47,103.85-43.73-35-78.71-68.87-126.8-101.66h-2.19c-28.42,29.51-60.12,67.77-88.54,101.66-87.45-28.42-238.3-70-293-70-21.86,28.42-36.07,70-36.07,95.1H27.33L0,828.59c6.56-31.7,13.12-48.1,43.73-91.82l364-522.51C377.13,135.55,329,95.1,239.39,95.1c-94,0-170.53,51.38-170.53,144.29,0,74.33,33.89,133.36,109.31,162.88v2.19l-40.45,14.21c-53.56-33.89-95.1-85.26-95.1-184.74C42.63,118.06,133.36,0,284.21,0c120.24,0,179.27,43.73,221.9,107.13,23-52.47,55.75-73.24,88.54-89.64l5.47,1.09c-10.93,18.58-23,56.84-23,90.73v556.4c29.51,17.49,71.05,40.45,99.47,54.66Zm-226.28-188H217.53l-82,118.06,1.09,2.19C235,664.62,399,717.09,419.76,717.09c7.65,0,24-6.56,30.61-14.21Zm0-75.43V196.76h-3.28L268.91,460.21Z')
          path.cls-1(d='M1094.21,373.85h78.71V827.5h-78.71v-63.4C1068,798,1018.78,840.61,939,840.61c-114.78,0-220.81-80.89-220.81-240.49,0-156.32,104.94-237.21,220.81-237.21,87.45,0,134.45,48.1,155.22,75.43ZM799.07,600.13c0,97.29,54.66,170.53,148.67,170.53,96.19,0,150.85-79.8,150.85-169.43,0-117-80.89-168.34-150.85-168.34C870.12,432.88,799.07,489.72,799.07,600.13Z')
      
      .home-contents-wrap
        h1.home-head Typeface makes a brand
        h2.home-text Exotic Typograpy is a unique and innovative company specializing in all aspects of typography and visual communications. Our services range from the technical to the aesthetic, and include Gourmet Typography workshops, training and seminars, webinars, typographic team-building and consulting, type-oriented graphic design.
        a.home-btn-text.semi-bold(href="/packages") View Packages
        
          
