extends ../layout

block content
  .yellow-back.color-back
  .svg-bg-wrap
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='1975.907 0 1214.173 1081.859')
      path#Path_11.svg-bg.white(d='M5168.08,0,4509.592,1081.859H3953.907V0Z', transform='translate(-2420)')
  .main-container
    .inner-container.extra-padding
      p.package-text We have special packages, You can purchase one typography, or you can use all our typography.  You can even create own typography with us.  If you have any question or want to get free quote, contact 
        a.link-inside-text(href="contact") here.
      
      .pakages-wrap
        .buy-typo.box
          h3.pac-head Buy Typo
          p.pac-desc If you have the typeface in your mind, pick the typeface and buy the one.
          ul.pac-list-ul
            li.pac-list-li License of the typography that you purchased
            li.pac-list-li All weights of the typography
          .options-top-field.tester-select.package
            label.tester-select-wrap.package
              select.select
                option(value="") Choose typography
                option(value="Butler") Butler
                option(value="Camption") Camption
                option(value="Coco") Coco
                option(value="Duma") Duma
                option(value="King-Basil-Lite") King-Basil-Lite
                option(value="London") London
                option(value="Mosk") Mosk
                option(value="Motorless-Drilled") Motorless-Drilled
                option(value="Scratch") Scratch
          a.pac-btn(style="color:white;") buy a typography
          
        .consulting.sp-box
          h3.pac-head Consulting
          p.pac-desc Usage of typography requires high technical typographical skills.  Especially nowadays, typograhy affect convertion rate significantly. We provide skype consulting and webnar, or even workshop, training, seminar if it is phisically possible.
          ul.pac-list-ul
            li.pac-list-li Typographycal consulting and webinar
            li.pac-list-li Traning or building typographic team
            li.pac-list-li Recommendaton of typography 
          a.pac-btn(style="color:white;") Get Free quote
          
        .makeown.box
          h3.pac-head.text-align Create your own typo <br>graphyc design
          p.pac-desc This is great oppotunity to create an identical branding.  We create your own typography or typographycal graphic design such as logo.
          ul.pac-list-ul
            li.pac-list-li Your own typography
            li.pac-list-li Graphic design
          a.pac-btn(style="color:white;") Contact Us
        
      
